$sm: 24rem; //384px
$sm2: 29.75rem; //476px
$sm3: 39.8rem; //636.8px
$sm4: 42rem; //672px

$md: 46.8rem; //748.8px
$md2: 48rem; //768px

$lg: 50rem; //800px
$lg2: 54.5rem; //872px

$xl: 60rem; //960px
$xl2: 67rem; //1072px

$xxl: 75rem; //1200px

$color: #000000;

.navLogo {
  cursor: pointer;
}
.navBar {
  background-color: $color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
.navContainer {
  
}

.iconHoverEffect{
  
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.2);
    

  }
}

.linkHoverEffect{
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.2) translate(0, -5px);
    
  }
}

.desktopNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  max-width: 1200px;
  margin: auto;

  @media screen and(max-width:$lg) {
    flex-direction: column;
    visibility: hidden;
    width: 0;
    height: 0;
    padding:0;
  }

  @media screen and(max-width:$sm2) {
    //visibility: hidden;
    //width: 0;
    //height: 0;
  }
}

.mobileNavigation {
  height: 80px;
  @media screen and(min-width:$lg) {
    visibility: hidden;
    height: 0;
    
  }
}

.navMiddle {
}

.socialIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.socialIcons * {
  cursor: pointer;
}

.theIcon {
}

.navLinks {
  flex-grow: 2;
}

.navItemWrapper {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;

  color: white;

  padding: 0px 1rem;
}

.navItemWrapper {
  display: flex;
  justify-content: space-evenly;

  @media screen and(max-width:$lg) {
    width: 500px;
  }
}

//----------------------------

$color-primary: #000000;
$color-secondary: #f0f7ee;
$duration: 1s;
$nav-duration: calc($duration / 4);
$ease: cubic-bezier(0.215, 0.61, 0.355, 1);
$space: 1rem;
$font-primary: "Montserrat", sans-serif;
$font-heading: "Montserrat", sans-serif;
$font-size: 1.125rem;
$line-height: 1.5;

.mainNavigationToggle {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;

  + label {
    position: fixed;
    top: calc($space * 0.5);
    right: calc($space * 2);
    cursor: pointer;
    z-index: 2;
  }
}

.iconMenuToggle {
  $size: calc(3.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  stroke-width: 6;
}

.iconGroup {
  transform: translateX(0);
  transition: transform $nav-duration $ease;
}

.iconClose {
  transform: translateX(-100%);
}

.mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform $nav-duration;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    transform-origin: 0 50%;
    z-index: -1;
  }

  ul {
    font-size: 12vmin;
    font-family: $font-heading;
    font-weight: 900;
    width: 100%;
  }

  li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: $color-secondary;
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
    }
  }

  a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: $color-secondary;
    line-height: 1;

    text-decoration: none;
    user-select: none;
    padding: $space calc($space * 2) calc($space + var(--border-size) / 2);
    transform: translateY(100%);
  }
}

.mainNavigationToggle:checked {
  ~ label .iconMenuToggle {
    .iconGroup {
      transform: translateX(100%);
    }
  }

  ~ .mainContent {
    transform: translateX(10%);
  }

  ~ .mainNavigation {
    transition-duration: 0s;
    transform: translateX(0);

    &:after {
      animation: nav-bg $nav-duration $ease forwards;
    }

    li:after {
      animation: nav-line $duration $ease forwards;
    }

    a {
      animation: link-appear calc($duration * 1.5) $ease forwards;
    }

    @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        &:after,
        a {
          animation-delay: calc(($duration / 2) * #{$i} * 0.125);
        }
      }
    }
  }
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-15deg);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

@keyframes link-appear {
  0%,
  25% {
    transform: translateY(100%);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}
