/*===== // Vertical Timeline =====*/
/*===== Resonsive Vertical Timeline =====*/
.roadmap {
	position: relative;
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
	.timelineStart {
		display: table;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		background: #646464;
		padding: 15px 23px;
		color: #fff;
		max-width: 5%;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.timelineEnd {
		display: table;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		background: #646464;
		padding: 15px 23px;
		color: #fff;
		max-width: 5%;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.roadmapCenterLine {
		position: absolute;
		width: 3px;
		height: 100%;
		top: 0;
		left: 50%;
		margin-left: -2px;
		background: #646464;
	}
	.roadmapTimeline {
		padding-top: 67px;
		padding-bottom: 67px;
	}
}
.timeLineSection {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 20px 0;
	.contentLeftContainer {
		max-width: 44%;
		width: 100%;
		float: left;
	}
	.contentRightContainer {
		max-width: 44%;
		width: 100%;
		float: right;
	}
	.timelineAuthor {
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: #242424;
		text-align: right;
	}
	.contentLeft {
		position: relative;
		width: auto;
		
		padding: 27px 25px;
		&:before {
			position: absolute;
			top: 20px;
			font-size: 23px;
			font-family: "FontAwesome";
			color: #fff;
		}
	}
	.contentRight {
		position: relative;
		width: auto;
		
		padding: 27px 25px;
		&:before {
			position: absolute;
			top: 20px;
			font-size: 23px;
			font-family: "FontAwesome";
			color: #fff;
		}
	}
	p {
		padding: 0;
		font-weight: 400;
		color: #ffffff;
		font-size: 16pt;
		
		position: relative;

        font-family: Montserrat, sans-serif;
        font-weight: 300;

        span.bodyHeading{
            text-transform: uppercase;
            font-weight: 900;
            font-size: 28pt;
        }
		span.articleNumber {
			position: absolute;
			font-weight: 300;
			font-size: 44px;
			top: 10px;
			left: -60px;
			color: #646464;
		}
	}
	.metaDate {
		position: absolute;
		top: 0;
		left: 50%;
		width: 20px;
		height: 62px;
		margin-left: -10px;
		color: #fff;
		border-bottom: 2px solid #646464;
		.date {
			display: block;
			text-align: center;
			font-weight: 900;
			font-size: 30px;
			line-height: 40px;
		}
		.month {
			display: block;
			text-align: center;
			font-weight: 900;
			font-size: 18px;
			line-height: 10px;
		}
	}
}
@media only screen and (max-width: 830px) {
	.roadmap {
		.timelineStart {
			margin: 0;
		}
		.timelineEnd {
			margin: 0;
		}
		.roadmapCenterLine {
			margin-left: 0;
			left: 50px;
		}
	}
	.timeLineSection {
		.metaDate {
			margin-left: 0;
			left: 41px;
		}
		.contentLeftContainer {
			max-width: 100%;
			width: auto;
			float: none;
			margin-left: 110px;
			min-height: 53px;
			margin-bottom: 20px;
		}
		.contentRightContainer {
			max-width: 100%;
			width: auto;
			float: none;
			margin-left: 110px;
			min-height: 53px;
		}
		.contentLeft {
			padding: 10px 25px;
			min-height: 65px;
			&:before {
				right: auto;
				left: -8px;
			}
		}
		.contentRight {
			padding: 10px 25px;
			min-height: 65px;
			&:before {
				display: none;
			}
		}
	}
}
@media only screen and (max-width: 400px) {
	.timeLineSection {
		p {
			margin: 0;
			span.articleNumber {
				display: none;
			}
		}
	}
}
