/*===== // Vertical Timeline =====*/
/*===== Resonsive Vertical Timeline =====*/


$sm: 24rem; //384px
$sm2: 29.75rem; //476px
$sm3: 39.8rem; //636.8px
$sm4: 42rem; //672px

$md: 46.8rem; //748.8px
$md2: 48rem; //768px

$lg: 50rem; //800px
$lg2: 54.5rem; //872px

$xl: 60rem; //960px
$xl2: 67rem; //1072px

$xxl: 75rem; //1200px


.roadmap {
	position: relative;
	max-width: 920px;
	width: 100%;
	

    left: 50%;
    transform: translateX(-50%);
	.timelineStart {
		display: table;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		background: #646464;
		padding: 15px 23px;
		color: #fff;
		max-width: 5%;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.timelineEnd {
		display: table;
		font-family: "Roboto", sans-serif;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		background: #646464;
		padding: 15px 23px;
		color: #fff;
		max-width: 5%;
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.roadmapCenterLine {
		position: absolute;
		width: 3px;
		height: 100%;
		top: 0;
		left: 50%;
		margin-left: -2px;
		background: #646464;
	}
	.roadmapTimeline {
		padding-top: 67px;
		padding-bottom: 67px;
	}
}

.squidImg{
    height: 100%;
    width: 100%;
}


.timeLineSection {
	width: 100%;
	height: 100%;
	position: relative;
	
	margin: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
	.contentLeftContainer {
		max-width: 44%;
		width: 100%;
		float: left;
	}
	.contentRightContainer {
		max-width: 44%;
		width: 100%;
		float: right;
	}
	.timelineAuthor {
		display: block;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: #242424;
		text-align: right;
	}
	.contentLeft {
		position: relative;
		width: auto;
		
		padding: 27px 25px;
		&:before {
			position: absolute;
			top: 20px;
			font-size: 23px;
			font-family: "FontAwesome";
			color: #fff;
		}
	}
	.contentRight {
		position: relative;
		width: auto;
		
		padding: 27px 25px;
		&:before {
			position: absolute;
			top: 20px;
			font-size: 23px;
			font-family: "FontAwesome";
			color: #fff;
		}
	}
	p {
		padding: 0;
		font-weight: 400;
		color: #ffffff;
		font-size: 14pt;

        text-align: center;
		
		position: relative;

        font-family: Montserrat, sans-serif;
        font-weight: 300;

        .customBreak{
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: 10px; /* change this to whatever height you want it */
        }

        span.bodyHeading{
            text-transform: uppercase;
            font-weight: 900;
            line-height: 30pt;
            font-size: 28pt;
           
        }
       
		span.articleNumber {
			position: absolute;
			font-weight: 300;
			font-size: 44px;
			top: 10px;
			left: -60px;
			color: #646464;
		}
	}
	.metaDate {
		position: absolute;
		top: 0;
		left: 50%;
		width: 20px;
		height: 62px;
		margin-left: -10px;
		color: #fff;
		border-bottom: 2px solid #646464;
		.date {
			display: block;
			text-align: center;
			font-weight: 900;
			font-size: 30px;
			line-height: 40px;
		}
		.month {
			display: block;
			text-align: center;
			font-weight: 900;
			font-size: 18px;
			line-height: 10px;
		}
	}

    .tinyText{
        font-size: 8pt;
        text-align: center;
    }

    
}

.imageWidthMod{
    width: -webkit-fill-available;
}


@media only screen and (max-width:$lg) {
	.roadmap {

        max-width: 600px;

		.timelineStart {
			margin: 0;
		}
		.timelineEnd {
			margin: 0;
		}
		.roadmapCenterLine {
			margin-left: 0;
			left: 0;
		}
	}

   
	.timeLineSection {

        flex-direction: column;

        
		.metaDate {
			margin-left: 0;
			left: -8px;
		}
		.contentLeftContainer {
			max-width: 100%;
			
			float: none;
			margin-left: 110px;
			min-height: 53px;
			margin-bottom: 20px;

            width: -webkit-fill-available;
		}
		.contentRightContainer {
			max-width: 100%;
			width: -webkit-fill-available;
			float: none;
			margin-left: 110px;
			min-height: 53px;
		}
		.contentLeft {
			padding: 10px 25px;
			min-height: 65px;
			&:before {
				right: auto;
				left: -8px;
			}
		}
		.contentRight {
			padding: 10px 25px;
			min-height: 65px;
			&:before {
				display: none;
			}
		}

        p{
            text-align: center;
        }
        
	}
    


    .reverseOrder{
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 400px) {
	.timeLineSection {
		p {
			margin: 0;
			span.articleNumber {
				display: none;
			}
		}
	}
}
