$sm: 24rem; //384px
$sm2: 29.75rem; //476px
$sm3: 39.8rem; //636.8px
$sm4: 42rem; //672px

$md: 46.8rem; //748.8px
$md2: 48rem; //768px

$lg: 50rem; //800px
$lg2: 54.5rem; //872px

$xl: 60rem; //960px
$xl2: 67rem; //1072px

$xxl: 75rem; //1200px

.skullContainer{
    width: 100%;
    overflow: hidden;
    

    margin-top: -250px;


    @media screen and(min-width:$sm) {
        padding: 0 2rem;
        margin-top: -100px;
    }
}

.skull{
    width: 175%;
    transform: translateX(-21.5%) translateY(60px);
    clip-path: polygon(0 38%, 100% 38%, 100% 75%, 0 75%);

    @media screen and(min-width:$sm) {
        //max-height: 600px;
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        transform: unset;

        clip-path: polygon(0 25%, 100% 25%, 100% 70%, 0 70%);
    }
    
}

.skullFollow{
    
    margin: auto;
    width: 100%;
    
    
    
    
}

//margin-top: -100px;