.teamSection {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 4rem;
    gap: 2rem;
    max-width: 1400px;
}

.teamTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #eaeaea;
    text-align: center;
    font-size: 28px;
}

.teamCards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem 0rem;
    justify-content: space-around;
    align-items: center;
}

.memberImageContainer {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.memberContainer {
    display: flex;
    color: #eaeaea;
    flex-direction: row;
    gap: 0.33rem;
    flex: 0 0 47%;
}

.memberInfoContainer {
    width: 100%;
    flex: 1;
}

.memberImage {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.memberName {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 28px;
}

.memberTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #EAEAEA;
    font-size: 18px;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.memberTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.memberParagraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-kerning: none;
    font-size: 12px;
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.theSocial {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}

.socialText {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
