$sm: 24rem; //384px
$sm2: 29.75rem; //476px
$sm3: 39.8rem; //636.8px
$sm4: 42rem; //672px

$md: 46.8rem; //748.8px
$md2: 48rem; //768px

$lg: 50rem; //800px
$lg2: 54.5rem; //872px

$xl: 60rem; //960px
$xl2: 67rem; //1072px

$xxl: 75rem; //1200px


.teamSection {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 4rem;
    gap: 2rem;
    max-width: 1500px;

    padding-bottom: 8rem;

    
}

.leftContainer{
    padding-right: 2rem;
    padding-bottom: 2rem;
    @media screen and(max-width:$xxl) {
        padding-right: 0;
    
    }
}

.rightContainer{
    padding-left: 2rem;
    padding-bottom: 2rem;

    @media screen and(max-width:$xxl) {
        padding-left: 0;
        
    }
}

.teamTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #eaeaea;
    text-align: center;
    font-size: 28pt;
}

.teamCards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem 0rem;
    justify-content: space-around;
    align-items: center;
}

.memberImageContainer {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.memberContainer {
    display: flex;
    color: #eaeaea;
    flex-direction: row;
    gap: 0.33rem;
    flex: 0 0 50%;

    @media screen and(max-width:$xxl) {
        flex: 0 0 100%;
        flex-direction: column;
        max-width: 600px;
        text-align: center;
        
    }
    
}

.memberInfoContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.memberImage {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.memberName {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 22pt;
    line-height: 22pt;
}

.memberTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #EAEAEA;
    font-size: 16pt;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}

.memberTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  
  padding-bottom: 1rem;
}

.memberParagraph {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-kerning: none;
    font-size: 12pt;
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media screen and(max-width:$xxl) {
        justify-content: center;
    }
}

.theSocial {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
}

.socialText {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
}
